[user]
	name = Martin Duhem
	email = martin.duhem@gmail.com
	signingkey = 3597849FE13A796F7B5CD5D2CC9CE9656E10C555
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[mergetool]
	keepBackup = false
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = /usr/bin/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = /usr/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
[alias]
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(black)%s%C(reset) %C(dim black)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    showstash = show -p stash@{0}
    wippush = !git add -A && git commit -m "WIP"
    wippop = "!f() {\
                last=$(git log -1 --format=format:'%s'); \
                if [[ \"$last\" == \"WIP\" ]]; then \
                  git reset HEAD~; \
                else \
                  echo HEAD does not point to WIP; \
                fi; \
              }; \
              f"
    last = log -1 HEAD
    delete-merged = !git branch --merged | egrep -v \"(^\\*|master|dev)\" | xargs git branch -d

[push]
	default = simple
[commit]
	gpgsign = true
[gpg]
	program = gpg
[log]
	date = relative
[blame]
	date = relative
